//////////////////////////////// Colors
$background-color: rgb(142, 223, 196);
$medium-sky-blue: #80DED9;
$green: #52E588;
$vista-blue: #7C90DB;
$ruby-red: #9B1D20;
$black-coral: #565676;
$dark-coral: #484862;
$hovered-coral: #68688d;
//////////////////////////////// Colors